<body class="main-page">
  <header id="topnav">
    <a href="http://www.futurice.com">
      <img src="/static/images/futurice-favicon.png" style="max-height: 100%;" alt="Futurice logo">
    </a>
  </header>
  <section class="first main-image">
      <div class="hero-container">
        <div class="header-container">
          <img src="/static/images/chilicorn_vector.png" />
          <div class="chilicorn">Ups!</div>
          <div>{{message}} {{error.status}}</div>
        </div>
        <p class="hero-text">
          You are trying to access a page that does not exist or some error occurred. Please go back to exercises and start over. Sorry for the inconvenience.
        </p>
        <p class="hero-text last">
          <a class="to-exercises-button" href="/codeclub">Exercises »</a>
        </p>
      </div>
  </section>
<footer>
    <p class="footer-text">This work is licensed under <a rel="license" href="https://opensource.org/licenses/MIT">the MIT License (MIT)</a>.</p>
    <p class="footer-text">Contact: <a href="mailto:spice@futurice.com">spice@futurice.com</a></p>
  </footer>
</body>

