<body class="main-page">
  <header id="topnav">
    <a href="http://www.futurice.com">
      <img src="/static/images/futurice-favicon.png" style="max-height: 100%;" alt="Futurice logo">
    </a>
  </header>
  <section class="first main-image">
      <div class="hero-container">
        <div class="header-container">
          <img src="/static/images/chilicorn_vector.png" />
          <div class="chilicorn">Chilicorn</div>
          <div>Code Club</div>
        </div>
        <p class="hero-text">
          A Spice program project aiming to introduce Finnish school kids to coding and to give schools & teachers tools for facilitating the learning.
        </p>
        <p class="hero-text last">
          <a class="to-exercises-button" href="/codeclub">Exercises »</a>
        </p>
      </div>
  </section>
  <section>
    <h2>How does the Code Club work?</h2>
    <p class="info-text">The Code Club needs a group of students, one or two mentors, a location and computers connected to the Internet. For example, we ran the first Code Club at Pitäjänmäki in the <a href="http://www.eschool.edu.hel.fi/">English School</a> with 7th-9th grade volunteers from the school and a group of rotating mentors from <a href="http://futurice.com/">Futurice</a>. We hope that eager teachers or students can take over the code club.  We will try to offer guidance for those interested to run code clubs themselves.</p>
  </section>
  <section>
    <h2>What do the exercises teach?</h2>
    <p class="info-text">The exercises were designed to follow the secondary school curriculum. They teach basics of programming with <a href="https://www.python.org/">Python</a> like variable, function, loops, iteration and randomization. Concepts of basic calculations, geometry, coordinates and lines, and functions are as well introduced. The detailed description for what each exercises teaches can be found in the respective code page, commented out, at the end. See also our <a href="/material">material page</a> that covers the topics.</p>
  </section>
  <section>
    <h2>What is the Spice Program?</h2>
    <p class="info-text">The Spice Program is Futurice’s social impact program. It aims to make Futurice a better company and the world a better place. </p>
    <p class="info-text">Read more about <a href="http://spiceprogram.org/">the Spice Program »</a></p>
  </section>
  <footer>
    <p class="footer-text">This work is licensed under <a rel="license" href="https://opensource.org/licenses/MIT">the MIT License (MIT)</a>.</p>
    <p class="footer-text">Contact: <a href="mailto:spice@futurice.com">spice@futurice.com</a></p>
  </footer>
</body>