.codeclub {
    background: #f3f3f3;
    font-family:'Open Sans',sans-serif;
    margin: 8px;
}

.top-nav-logo {
    background-color: transparent;
    position: fixed;
    z-index: 3;
    top: 18px;
    right: 25px;
    height: 30px;
}

.title {
    clear: both;
    color: black;
    font-weight: normal;
    font-size: 1.4em;
    margin: 0.2em;
}

.saved, .failed {
    position: absolute;
    top: 95px;
    right: 30px;
    font-size: 0.7em;
    display: none;
}

.empty-exercises {
    display: none;
}

.container {
    clear: both;
}

.info-element {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    padding: 5%;
}

.left-container {
    position: relative;
    width: 50%;
    float: left;
    height: 90vh;
    border: solid;
    border-width: 1px;
}

.button-container {
    display: block;
    height: 20px;
    margin: 0.5em 0.2em;
}

.right-container {
    width: 49%;
    float: left;
    display: inline-block;
    height: 90vh;
    overflow: hidden;
    border: solid;
    border-width: 1px;
}

#editor {
    width: 100%;
    height: 100%;
    clear: both;
}

.CodeMirror {
    height: 100%;
}

button {
    border-radius: 0;
    background-color: #ffffff;
    border: none;
}

button:hover {
    background-color: #fd8f34;
}

.button {
    color: black;
    text-decoration: none;
    font-size: small;
    text-align: center;
    border-radius: 0;
    background-color: #ffffff;
    border: none;
    width: 80px;
    float: left;
    margin: 0.2em 0.8em;
}

.load-button {
    width: 90px;
    height: 20px;
    background-color: #DBDEDE;
    vertical-align: middle;
    float: none;
}

.run-button {
    position: absolute;
    top: 7px;
    right: 20px;
    width: 40px;
    z-index: 6;
    margin: 0px;
}

#error {
    color: #ffffff;
}

#output {
    margin: 0;
    border-top: solid;
    border-top-width: 1px;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 150%;
    white-space: pre-wrap;
    background-color: #a8a9a6;
    color: black;
}

.console {
    height: 20%;
}

#mycanvas {
    width: 100%;
    height: 80%;
    background-color: #ffffff;
}

.footer {
    display: inline-block;
    height: 2vh;
    font-size: 1.0em;
    padding: 0.5em;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #ffffff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
}

.close:hover {
    background: #fd8f34;
}

.exercise-container, .module-container {
    max-height: 300px;
    overflow: auto;
}

.exercise-container a, .module-container a {
    text-decoration: none;
}

.exercise-container ul, .module-container ul {
    padding: 0;
}

.exercise-container ul li, .module-container ul li {
    list-style: none;
    margin-left: 20px;
}

.exercise-container ul li:hover, .module-container ul li:hover {
    color: #fd8f34;
}

.exercise-container .date {
    font-size: 0.6em;
    float: right;
}

.exercise-container pre {
    background-color: #DBDEDE;
    color: black;
    padding: 5px;
    max-height: 50px;
    overflow: auto;
    clear: both;
}

.session-header {
    font-weight: bold;
}
.session-header:hover {
    color: #fd8f34;
    cursor: pointer;
}
.session-exercises {
    display: none;
}
.name {
    display: inline-block;
    vertical-align: middle;
}

.name-edit {
    background-color: #DBDEDE;
    width: 200px;
    height: 20px;
}